<div class="container">
    <form class="form-group d-flex flex-column align-items-center" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
        <typeahead-dropdown labelText="Source" [inputFormControl]="source"></typeahead-dropdown>
        <typeahead-dropdown labelText="Destination" [inputFormControl]="destination"></typeahead-dropdown>
        <label class="font-weight-bold text-primary">Date: </label>
        <input type="date" formControlName="startDate" />
        <br />
        <input class="btn btn-primary" type="submit" value="Search" />
    </form>
</div>
